@import url('https://fonts.googleapis.com/css2?family=VTF+Justina+GEO&display=swap');
@import "tailwindcss";

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@layer utilities {
   .button-radius {
    border-radius: 25% 0% 20% 0%;
   }
   .font-vtf-justina {
    font-family: 'VTF Justina GEO', sans-serif;
   }
}

.animate-scroll {
  display: flex;
  min-width: 200%;
  animation: scroll 20s linear infinite;
}